@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Vollkorn', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.header {
  padding: 16px;

  h1 {
    font-family: 'Rakkas', serif;
    font-size: 4rem;
    font-weight: 400;
  }
}

.main {
  flex-grow: 1;
}

.footer {
  padding: 8px;
  text-align: center;
}
